@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
   @*<script src = "/Scripts/Custom/detailsInfo.js"></script>*@
   <style>
       .customButton {
           background: #0d76bc;
           color: #ffffff;
           font-weight: 700;
           border-radius: 50px;
           width: 200px !important;
           height: 40px !important;
           font-size: 15px;
           cursor: pointer;
       }
   </style>
  
}

<main role="main" class="pb-3">

    <div id="intro" style="padding-bottom:100px; padding-top:50px;">
        <div class="text-center">
            <input type="button" class="btn customButton" id="landingPage1" value="Goto Landing Page-1" onclick="window.location.href = '@Url.Action("LandingPage1", "Home")';"> &nbsp; &nbsp;
            <input type="button" class="btn customButton" id="landingPage2" value="Goto Landing Page-2"  onclick="window.location.href = '@Url.Action("LandingPage2", "Home")';">
        </div>
    </div>

</main>



