
@{
    ViewBag.Title = "landing-page1";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .customButton {
            background: #0d76bc;
            color: #ffffff;
            font-weight: 700;
            border-radius: 50px;
            width: 200px !important;
            height: 40px !important;
            font-size: 15px;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            if ($.cookie("name") != "") {
                $('#FirstName').val($.cookie("name"))
            }
            if ($.cookie("address") != "") {
                $('#Address').val($.cookie("address"))
            }

            $('#btnSubmit').click(function () {

                if (IsValid()) {
                    var details = {};

                    details.Id = 0; // $('#Id').val();
                    details.FirstName = $('#FirstName').val();
                    details.Address = $('#Address').val();
                    details.HaveAlliance = $("input[name='HaveAlliance']:checked").val();
                    details.HavePrescriptions = $("input[name='HavePrescriptions']:checked").val();
                    $.ajax({
                        url: '@Url.Action("LandingPage1", "Home")',
                        type: "post",
                        dataType: "json",
                        data: details,
                        success: function (response, textStatus, jqXHR) {
                            alert(response.val);
                            $.removeCookie("address");
                            $.removeCookie("name");
                            $("#btnSubmit").attr("disabled", "disabled");
                            location.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('Error - ' + errorThrown);
                            //alert("Some information is missing, please complete the entire form to continue..");
                        }
                    });
                }
            });
        });

        function IsValid() {
            if ($('#FirstName').val() == '') {
                alert("Please provide your First Name")
                return false;
            }
            if ($('#Address').val() == '') {
                alert("Please provide the Email Address or Phone")
                return false;
            }
            return true;
        }

        function SetNameCookie() {
            $.cookie('name', $('#FirstName').val());
        }

        function SetAddressCookie() {
            $.cookie('address', $('#Address').val());
        }

    </script>
}

<main role="main" class="pb-3" id="landing-page1">

    <div id="intro">
        <div class="content">
            <h1>Switch to a simpler Pharmacy.</h1>
            <h3>Put in your details to get started.</h3>
            <form>
                <input type="text" id="FirstName" placeholder="First Name" onchange="SetNameCookie()">
                <input type="text" id="Address" placeholder="Email Address or Phone" onchange="SetAddressCookie()">
                <p>
                    Have an Alliance Pharmacy Team Member reach out?
                    <input type="radio" id="yes" name="HaveAlliance" value="yes">
                    <label for="yes">Yes</label>

                    <input type="radio" id="no" name="HaveAlliance" value="no">
                    <label for="yes">No</label>
                </p>


                <p>
                    Do you currently have prescriptions?
                    <input type="radio" id="yes" name="HavePrescriptions" value="yes">
                    <label for="yes">Yes</label>

                    <input type="radio" id="no" name="HavePrescriptions" value="no">
                    <label for="yes">No</label>
                </p>
                <input type="button" class="btn customButton" id="btnSubmit" value="Submit">
            </form>
        </div>
    </div>

    <div id="sponsors">
        <ul>
            <li><img src="~/Content/images/toshiba.png"></li>
            <li><img src="~/Content/images/trent.png"></li>
            <li><img src="~/Content/images/toromont.png"></li>
            <li><img src="~/Content/images/autodata.png"></li>
            <li><img src="~/Content/images/sleepcountry.png"></li>
        </ul>
    </div>

    <div id="info">

        <section class="section-1">
            <h2 class="section-title">A pharmacy that comes to you.</h2>
            <h3 class="section-title">Alliance Pharmacy is changing the way you<br />receive and manage your medication.</h3>

            <div class="left">

                <a href="">
                    <div class="button">Watch how we can help you <div class="arrow" style="font-size:15px; margin-top:5px; margin-left: 20px; display:inline">▶</div></div>
                </a>
                <div class="video"><img src="~/Content/images/video-placeholder1.png"></div>

            </div>

            <div class="right">

                <h2>The most convenient way to access your prescriptions</h2>

            </div>
        </section>

        <section class="section-2">
            <h2 class="section-title">Getting started is easy</h2>
            <h3 class="section-title">We take care of everything.</h3>

            <div class="inner">

                <div class="block">
                    <img src="~/Content/images/transfer-icon.png">
                    <p>1. <span>Transfer</span> your prescriptions</p>
                </div>

                <div class="block">
                    <img src="~/Content/images/organize-icon.png">
                    <p>1. We <span>organize</span> your medications</p>
                </div>

                <div class="block">
                    <img src="~/Content/images/deliver-icon.png">
                    <p>1. We <span>deliver</span> right to your door</p>
                </div>

                <div class="button">Send me a sample MedPack</div>

            </div>
        </section>

        <section class="section-3">

            <div style="position:relative; margin:70px auto">

                <div class="left">
                    <h2>Register Today</h2>
                    <h3>We will <strong>transfer</strong> any existing prescriptions from your pharmacy.</h3>
                </div>

                <div class="right">
                    <div class="block">
                        <h4>Prescription Services</h4>
                        <p>Have your prescription medications managed by Alliance. Plus access thousands of over-the-counter and wellness essentials.</p>
                        <div class="button">Set Up</div>
                    </div>
                    <div class="block">
                        <h4>Wellness Essentials</h4>
                        <p>Access thousands of over-the-counter medication and vitamin products.</p>
                        <div class="button">Create Account</div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-4">

            <div style="position:relative; margin:70px auto">

                <div class="right">
                    <h2>Prescription and Wellness Essentials</h2>
                    <h3>Convenient delivery of your prescription medications and access to thousands of wellness essentials</h3>
                </div>

                <div class="left">
                    <img src="~/Content/images/vitamins.png">
                </div>

            </div>

        </section>


        <section class="section-5">


            <div class="left">
                <h2>Delivered right to your door</h2>
                <h3>We offer <strong>free next business day delivery</strong> in Canada.*</h3>
                <small>* Some restrictions apply. Actual delivery times depend on origin, destination, weather conditions, and other factors and are estimates only.</small>
            </div>

            <div class="right">
                <img src="~/Content/images/prescriptions.png">
            </div>


        </section>


        <div class="section-6">

            <div class="container">
                <div class="item">
                    <img class="icon" src="~/Content/images/shipping-icon.png" alt="MedPack">
                    <p class="title">Sign Up For MedPack and Get Piece of Mind</p>
                </div>

                <div class="item">
                    <img class="icon" src="~/Content/images/refill-icon.png" alt="MedPack">
                    <p class="title">Sign Up For MedPack and Get Piece of Mind</p>
                </div>

                <div class="item">
                    <img class="icon" src="~/Content/images/family-icon.png" alt="MedPack">
                    <p class="title">Sign Up For MedPack and Get Piece of Mind</p>
                </div>
            </div>
        </div>


        <div class="section-7">
            <h2>What our patients are saying</h2>

            <div class="grid-layout">
                <div class="grid-item grid-item-1">
                    <p>"Compared to [major pharmacy chain] I found the Alliance Pharmacy service convenient and had my drugs delivered right to my office. There was also a huge cost saving in the dispensing fee and the drug cost." <span>- Karen</span></p>
                </div>

                <div class="grid-item grid-item-2">
                    <p>"As my husband and myself have daily medications we take, Alliance Pharmacy is the perfect solution for us. I no longer have to drive to the drug store and wait in line, and pay a difference. All I do now is pick up the phone and within 3 minutes my prescriptions have been ordered and the next day. they arrive at my place of work. I hope I never have to go back to picking up a prescription."  <span>- Nicole</span></p>
                </div>

                <div class="grid-item grid-item-3">
                    <p>"Well I have only used your service once so far, but was extremely satisfied with the service and the convenience. The medication arrived as planned without any problems."<span>- Lesley</span></p>
                </div>

                <div class="grid-item grid-item-4">
                    <p>"In the past we have dealt with your standard 'Drug Store' and. service at best was average with numerous mistakes. Not necessarily all their fault, but it always seemed we were arguing about something. When she brought forward this opportunity we jumped on it and it has been a great ride ever since!!.....</p>
                    <p>Your service is fast, accurate, with call back & delivery notification all done through a simple phone call. And of course getting your meds delivered right to the house is an added benefit....not to mention the minimal cost if any at all......."<span>- Peter</span></p>
                </div>

                <div class="grid-item grid-item-5">
                    <p>"All phases of the prescription process, from the doctors office prescription submission to drug delivery is very easy and hassle free. The completed prescriptions arrive in top quality shipping containers with clear instructions and drug information -- always within the delivery schedule." <span>- Nancy</span></p>
                </div>

                <div class="grid-item grid-item-6">
                    <p>"10 years ago I suffered a severe heart attack which forced me to undergo open heart surgery. As a result my doctors prescribed numerous medications to act as preventative measures for reducing my risk of future heart problems. These medications are very repetitive in that I take 7 pills every day. Since I began using Alliance Pharmacy in late 2010, to fill my prescriptions, I have eliminated alll the running around that was previously necessary to get my medicines and I also eliminated the $XX deductible. It simply takes a phone call and my prescriptions are in my hand the next day at no cost to me."<span>- Ron</span></p>
                </div>
            </div>

        </div>

        <div class="section-8">

            <h2>Why use Alliance Pharmacy?</h2>

            <ul>
                <li>
                    <div class="icon"><img src="~/Content/images/service-icon.jpg"></div>
                    <h4>Service</h4>
                    <p>Free next business day delivery in Canada.</p>
                </li>

                <li>
                    <div class="icon"><img src="~/Content/images/convenience-icon.jpg"></div>
                    <h4>Convenience</h4>
                    <p>Refill reminders before you run out.</p>
                </li>

                <li>
                    <div class="icon"><img src="~/Content/images/value-icon.jpg"></div>
                    <h4>Value</h4>
                    <p>Competitive dispensing fees and drug pricing.</p>
                </li>

                <li>
                    <div class="icon"><img src="~/Content/images/comfort-icon.jpg"></div>
                    <h4>Comfort</h4>
                    <p>Private patient counselling over the phone.</p>
                </li>
            </ul>

        </div>

</main>

