USE [master]
GO
/****** Object:  Database [APGDB]    Script Date: 2020-09-16 7:46:12 PM ******/
CREATE DATABASE [APGDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APGDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LOCALHOST\MSSQL\DATA\APGDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APGDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LOCALHOST\MSSQL\DATA\APGDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APGDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APGDB]
GO
/****** Object:  Table [dbo].[UserDetails_1]    Script Date: 2020-09-16 7:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails_1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NULL,
	[Address] [varchar](250) NULL,
	[HaveAlliance] [varchar](10) NULL,
	[HavePrescriptions] [varchar](10) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails_2]    Script Date: 2020-09-16 7:46:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails_2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NULL,
	[Address] [varchar](250) NULL,
	[HaveAlliance] [varchar](10) NULL,
	[TakingMedications] [varchar](10) NULL,
 CONSTRAINT [PK_UserDetails_2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
